* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  color: #eaf2e3;
  font-family: sans-serif;
  font-size: 3em;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.move {
  position: absolute;
  width: 167px;
  height: 100px;
  filter: invert(15%);
  animation: horizontal 9s linear -31.5s infinite forwards, vertical 10s linear -0.7s infinite forwards;
}

@keyframes horizontal {
  0% {
    left: 0%;
  }
  50% {
    left: calc(100% - 167px);
  }
  100% {
    left: 0%;
  }
}
@keyframes vertical {
  0% {
    top: 0%;
  }
  50% {
    top: calc(100% - 100px);
  }
  100% {
    top: 0%;
  }
}